.social-links 
{
    color: #ff0022;
    text-decoration: none;
    border-collapse: collapse;
}

button[type] {
    color: teal
}

a[href="#"] {
    color: orange;
border-collapse: collapse;
}
}
.link {
     
}
.link:hover {
    color: black;
    background-color: red;
}
.schedule-body tr:hover {
    background-color: purple;
    color:lightblue;
 }
    /* Table styling */
    
    
.schedule {
  border-collapse: collapse;
}

.schedule th,
.schedule td {
  padding: 14px;
  border: 1px solid #212121;
}

